In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

25/03/30 05:29:39 WARN Utils: Your hostname, codespaces-bca7e1 resolves to a loopback address: 127.0.0.1; using 10.0.0.110 instead (on interface eth0)
25/03/30 05:29:39 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/30 05:29:40 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
file="people.csv"

In [4]:
df = spark.read.csv(file,header=True,inferSchema=True)

In [5]:
df.show()

+-----------+----------+---+-----------+
|employee_id|      name|age| department|
+-----------+----------+---+-----------+
|          1|     Alice| 30|      Sales|
|          2|       Bob| 25|  Marketing|
|          3|   Charlie| 35|Engineering|
|          4|     David| 28|      Sales|
|          6|Peddireddy| 34|     devops|
|          7|    akhila| 45|   youtuber|
+-----------+----------+---+-----------+

In [6]:
df.cache()

DataFrame[employee_id: int, name: string, age: int, department: string]

In [8]:
df.printSchema()

root
 |-- employee_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- department: string (nullable = true)

In [9]:
df.columns

['employee_id', 'name', 'age', 'department']

In [11]:
df.describe().show()

25/03/30 05:36:52 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+------------------+------+------------------+-----------+
|summary|       employee_id|  name|               age| department|
+-------+------------------+------+------------------+-----------+
|  count|                 6|     6|                 6|          6|
|   mean|3.8333333333333335|  NULL|32.833333333333336|       NULL|
| stddev|2.3166067138525404|  NULL| 7.026141662866375|       NULL|
|    min|                 1| Alice|                25|Engineering|
|    max|                 7|akhila|                45|   youtuber|
+-------+------------------+------+------------------+-----------+

In [12]:
from pyspark.sql.types import (StructField,StructType,
                              IntegerType,StringType)

In [13]:
data_scheme = [StructField('age',IntegerType(),True),
StructField('name',StringType(),True)]

In [14]:
final_struct = StructType(fields=data_scheme)

In [15]:
df = spark.read.csv('people.csv',schema=final_struct)

In [16]:
df.show()

+----+----------+
| age|      name|
+----+----------+
|NULL|      name|
|   1|     Alice|
|   2|       Bob|
|   3|   Charlie|
|   4|     David|
|   6|Peddireddy|
|   7|    akhila|
+----+----------+

In [17]:
type(df.head())

pyspark.sql.types.Row

In [18]:
df.select(['age','name'])

DataFrame[age: int, name: string]

In [19]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [20]:
df.select(['age','name']).show()

+----+----------+
| age|      name|
+----+----------+
|NULL|      name|
|   1|     Alice|
|   2|       Bob|
|   3|   Charlie|
|   4|     David|
|   6|Peddireddy|
|   7|    akhila|
+----+----------+

In [21]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [22]:
df.withColumn('NewAge',df['age']*2).show()

+----+----------+------+
| age|      name|NewAge|
+----+----------+------+
|NULL|      name|  NULL|
|   1|     Alice|     2|
|   2|       Bob|     4|
|   3|   Charlie|     6|
|   4|     David|     8|
|   6|Peddireddy|    12|
|   7|    akhila|    14|
+----+----------+------+

In [24]:
df.withColumnRenamed('age','NewAge')

DataFrame[NewAge: int, name: string]

In [25]:
df.show()

+----+----------+
| age|      name|
+----+----------+
|NULL|      name|
|   1|     Alice|
|   2|       Bob|
|   3|   Charlie|
|   4|     David|
|   6|Peddireddy|
|   7|    akhila|
+----+----------+

In [26]:
df.createOrReplaceTempView('people')

In [27]:
results = spark.sql("SELECT * FROM people")

In [28]:
results.show()

+----+----------+
| age|      name|
+----+----------+
|NULL|      name|
|   1|     Alice|
|   2|       Bob|
|   3|   Charlie|
|   4|     David|
|   6|Peddireddy|
|   7|    akhila|
+----+----------+